<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Gugi|Nanum+Brush+Script" rel="stylesheet">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuo1JkXZUrlRrIsZoGUdmZyjLsJBiwmCU&language=kor&libraries=places">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <header>
            <a href="/"><h1><span>모</span>두의 <span>모</span>임</h1></a>
            <nav class="header-nav">
                <span class="header-notification">
                    <span>알림</span>
                    <span class="notification-icon hidden"></span>
                    <span class="notification-layer"></span>
                </span>
                <span class="header-favorite">
                    <i class="fas fa-star"></i>
                </span>
            </nav>
        </header>
        <div class="main-content">
            <section class="section-search">
                <div class="search-toggle-btn-wrapper">
                    <span class="btn-search-toggle">
                        모임 목록
                    </span>
                </div>
                <div class="search-nav">
                    <div class="search-map-box-wrapper">
                        <input type="text" id="search-map-box" placeholder="지역 검색">
                    </div>
                    <div class="search-meetup-box-wrapper">
                        <input type="text" id="search-meetup-box" placeholder="모임 검색">
                    </div>
                    <div class="search-radius-wrapper">
                        <span class="search-radius-title">반경 :</span>
                        <input type="range" id="search-radius-slider" value="5" min="5" max="161">
                        <span class="search-radius-value">5 km</span>
                    </div>
                    <div class="search-order-wrapper">
                        <span class="search-order-title">정렬 :</span>
                        <div class="btn-search-order-wrapper">
                            <input type="radio" id="btn-search-order-best" value="best" checked>
                            <label for='btn-search-order-best'>추천순</label>
                            <input type="radio" id="btn-search-order-time" value="time">
                            <label for='btn-search-order-time'>시간순</label>
                        </div>
                    </div>
                    <div class="search-category-wrapper">
                        <span class="search-category-title">모임 종류 :</span>
                        <span class="btn-search-category">
                            <span>전체 모임</span>
                            <ul class="search-category-layer hidden">
                                <li class="search-category-item" style="color: #F64060; font-weight: bold" data-id="null">전체 모임</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="list-content-layer">
                    <ul class="list-content-wrapper">
                        <div>검색된 모임이 없습니다.<br>모임을 검색하거나, 지도를 클릭해주세요</div>
                    </ul>
                </div>
            </section>
            <section class="section-map">
                <div id="map-main"></div>
            </section>
        </div>
        <footer>
            <span>기타 문의사항은 &nbsp;beautifulife.github.io</span> &nbsp;으로 연락 주시기 바랍니다.
        </footer>
    </div>
</body>
</html>
