<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Gugi" rel="stylesheet">
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuo1JkXZUrlRrIsZoGUdmZyjLsJBiwmCU&"></script> -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuo1JkXZUrlRrIsZoGUdmZyjLsJBiwmCU&language=kor&libraries=places">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <header>
            <h1><span>모</span>두의 <span>모</span>임</h1>
            <nav class="header-nav">
                <span class="">버튼</span>
                <span class="header-noti">알림</span>
                <span class="header-avatar">압타</span>
            </nav>
        </header>
        <div class="main-content">
            <section class="section-search">
                <div class="search-toggle-btn-wrapper">
                    <span class="btn-search-toggle">
                        모임 목록
                    </span>
                </div>
                <div class="search-nav">
                    <div class="search-box-wrapper">
                        <input type="text" id="search-box" placeholder="검색">
                    </div>
                    <div class="search-details"></div>
                </div>
                <div class="list-content-layer">
                    <ul class="list-content-wrapper"></ul>
                </div>
                <!-- <img class="btn-nav-main-toggle" src="/assets/images/btn_nav_main.png"> -->
            </section>
            <section class="section-map">
                <div id="map-main"></div>
                <div class="content-result-wrapper hidden">
                    <div class="content-result-title">
                        <span>ㅇㅇㅇ 검색결과</span>
                    </div>
                    <div class="content-result-main"></div>
                </div>
            </section>
        </div>
        <footer>
            <span>문의사항은 &nbsp;beautifulife.github.io</span> &nbsp;으로 연락 주시기 바랍니다.
        </footer>
    </div>
</body>
</html>
